body {
    font-family: Arial, Helvetica, sans-serif;
    background: #000;
}

.canvas {
    width: 320px;
    height: 320px;
    border: 5px outset #24A44B;
    position: relative;
    margin: 0 auto;
}

#background,
#foreground {
    position: absolute;
}

.information {
    margin-top: 10px;
    text-align: center;
    color: #50a54c;
}

ul {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}
